@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;

  --color-primary: #3d64dd;
  --color-secondary: #edf2fe;
  --color-neutral: #1e1f24;
  --color-basis: #f9f9fb;
  --color-fixed: #eeeef0;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
}

.dark {
  --color-primary: #3d40ff;
  --color-secondary: #111b63;
  --color-neutral: #eeeef0;
  --color-basis: #19191b;
  --color-fixed: #eeeef0;
  --color-success: #4ade80;
  --color-warning: #fbbf24;
}
